.select {
    width: 3.7rem;
    height: 1.5rem;
    border-radius: 0.2rem;
    background-color: rgba(121, 121, 121, .15);
    color: inherit;
    border: 1px solid var(--primary-color);
    font-family: inherit;
    font-size: var(--p3);
    padding: 0 .3rem;
    outline: none;
}